.vs/
ComLight/obj/
ComLightDesktop/bin/
ComLightDesktop/obj/
*.user
DesktopClient/bin/
DesktopClient/obj/
DesktopTest/obj/
NativeLibrary/build/
PortableClient/obj/
TestClient/obj/
ComLightLib/x64/
NativeLibrary/x64/
x64/
ComLight/bin/
DesktopTest/bin/
ComLightLib/Win32/
NativeLibrary/Win32/
PortableClient/bin/
Win32/
Debug/
packages/